# .NET build output
bin/
obj/
TestResults/
coverage/
coverage-report/

# NuGet
*.nupkg
*.snupkg
*.nuspec

# User-specific
*.user
*.suo

# IDEs
.idea/
.vs/
.user

# Deno binaries
deno
deno.exe
deno.metadata.json
deno.metadata.sig
deno.exe.sha256sum
deno.sha256sum
*.zip

.env
keys/
artifacts/
