# .NET build output
bin/
obj/
TestResults/
coverage/
coverage-report/

# NuGet
*.nupkg
*.snupkg
*.nuspec

# User-specific
*.user
*.suo

# IDEs
.idea/
.vs/
.user

# Deno binaries
deno
deno.exe
*.zip

.env
